{% extends 'base.html'%}
{%load static%}
{%block content%}

<h1>Search Meeps</h1>
<br>
<form  method="post"> 
    {%csrf_token%}
   <input type="input" name="search" placeholder="Search Meeps" class="form-control">
   <br>
    <button type="submit" class="btn btn-secondary">Search Meep</button>
</form>
<br> <br>
{%if search %}
<p>You searched for:- {{search}}</p>
    {%for meep in searched %}
    <div class="alert alert-dark" role="alert">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    {%if meep.user.profile.profile_image %}
                    <img src="{{meep.user.profile.profile_image.url }}" width="80" height="80" class="img-flui rounded-circle"  alt="profile image">
                {%else%}
                <img src="{% static 'images/user.png' %}" class="rounded-circle" width="80" height="80" alt="profile image">
                {%endif%}
                </div>
                <div class="col-11">
                    {{meep.body}} <br>
                    <small class="text-muted">{{meep.created_at}} by @{{meep.user.username | lower}}
                        - {{meep.number_of_likes}} Likes 
                        {% if user in meep.likes.all%}
                        - <a href="{%url 'meep-like' meep.id %}">❤</a>
                        {%else%}
                        - <a href="{%url 'meep-like' meep.id %}">🤍</a>
                        {%endif%}
                        &nbsp; &nbsp;
                            <a href="{%url 'meep-show' meep.id %}">share↪</a>
                      
                    </small>
    
                </div>
            </div>
        </div>
        
    </div>
    {%endfor%}
{%endif%}
{%endblock%}